@import "@/scss/_styles.scss";


.basic-layout {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
  overflow-x: auto;
}

.content {
}

.footer {
  height: 40px;
  font-size: $font-size-small;
  color: #999999;

  a {
    padding: 10px;
  }
}

