
<div class="mat-body">
  <h1>How to write your thesis</h1>
  <p>This is a non-official, incomplete guide for writing bachelor's and master's theses (inspired by Tobi Seitz' guide).
    <br />Please refer to the
    <a href="http://www.medien.ifi.lmu.de/studierende/abschlussarbeiten/" target="_blank">official LMU Media Informatics site</a>
    for up-to-date, complete, legally binding information.
    <br />You can also find information on how to do literature research and how to write papers in our
    <a href="https://www.medien.ifi.lmu.de/lehre/ss19/hs/material/MIAS19-Kickoff_online.pdf" target="_blank">
      MIAS kickoff slides</a>.

    <br />Some of the following tips and information may reflect my personal opinion or demands :)
    <br />Have fun! - <a href="{{mlurl}}" class="contact"><code>Matthias</code></a>
  </p>

  <!--<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>-->

  <mat-divider></mat-divider>

  <section>
    <h3>{{reset()}} Scope</h3>
    <p>
      <a href="http://www.medien.ifi.lmu.de/studierende/abschlussarbeiten/bachelor/richtlinien.xhtml" target="_blank">Bachelor thesis</a>
      &rarr; 10 weeks full-time in a timeframe of 20 weeks: ~20-40 pages.
      <br />
      <a href="http://www.medien.ifi.lmu.de/studierende/abschlussarbeiten/master/richtlinien.xhtml" target="_blank">Master thesis</a>
      &rarr; 1 semester, 26 weeks full-time: 40-80 pages.
    </p>
  </section>

  <mat-divider></mat-divider>

  <section>
    <h3>{{count()}} Grading</h3>
    <p>
      There are certain <a href="http://www.medien.ifi.lmu.de/studierende/abschlussarbeiten/master/bewertung.xhtml" target="_blank">criteria</a>
      that influence the grading of your written thesis.
      <br />Credits for written thesis: 12/25 ECTS (BA/MA). For thesis defense: 3/5 ECTS (BA/MA).
    </p>
  </section>

  <mat-divider></mat-divider>

  <section>
    <h3>{{count()}} Organization</h3>
    <p>
      During your thesis we meet regularly (e.g. weekly)
      to discuss progress, schedule, next steps, problems, ...
      <br />Your first tasks are:
      <br />&rarr; develop a concept
      <br />&rarr; create a schedule / milestones
      <br />&rarr; literature research
    </p>
    <mat-card>
      <mat-card-content>
        <h4>Scheduling</h4>
        <p>Example for 20 weeks bachelor's thesis. Of course your schedule depends on your individual topic - and you.</p>
        <table>
          <tr class="week">
            <td></td><td>2</td><td></td><td>4</td>
            <td></td><td>6</td><td></td><td>8</td>
            <td></td><td>10</td><td></td><td>12</td>
            <td></td><td>14</td><td></td><td>16</td>
            <td></td><td>18</td><td></td><td>20</td>
          </tr>
          <tr><td colspan="4" style="background-color: #B8E0C5">Literature</td><td colspan="16"></td></tr>
          <tr><td colspan="5" style="background-color: #B8E0C5">Concept</td><td colspan="15"></td></tr>
          <tr><td colspan="4"></td>
            <td colspan="4" style="background-color: #B8E0C5">Implement</td>
            <td colspan="3" style="background-color: #B8E0C5">Study</td>
            <td colspan="2" style="background-color: #B8E0C5">Evaluate</td>
            <td colspan="7"></td>
          </tr>
          <tr><td colspan="13" style="background-color: #B8E0C5">Write in parallel</td>
            <td colspan="4" style="background-color: #B8E0C5">Write</td>
            <td colspan="2" style="background-color: #B8E0C5">Buffer</td>
            <td colspan="1" style="background-color: #B8E0C5">Print</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </section>

  <mat-divider></mat-divider>

  <section>
    <h3>{{count()}} Literature research</h3>
    <p>
    </p>
  </section>

  <mat-divider></mat-divider>

  <section>
    <h3>{{count()}} User studies</h3>
    <p>
    </p>
  </section>

  <mat-divider></mat-divider>

  <section>
    <h3>{{count()}} English or German?</h3>
    <p>
      Your choice!
      You may
      (a) write your thesis in English or German,
      (b) hold your presentation in English or German,
      (c) prepare your slides in English or German.
      <br />While you may combine these three options (e.g. write in English, slides in English, talk in German),
      don't mix up languages inside a task (e.g. no English-German mix in thesis - except for abstract).
      <br />
      I recommend English - at least for you written thesis!
    </p>
  </section>

  <mat-divider></mat-divider>

  <section>
    <h3>{{count()}} Thesis defense: how to present</h3>
    <p>
      Questions:
      - Contribution?
      - Methodology?
      - How do you know that ...? -> Reference related work
      - Why didn't you take [related work] into account?
      - Why did you choose the definition by ... ?
      - How would you define ... ?
    </p>
  </section>

  <mat-divider></mat-divider>

  <section>
    <h3>{{count()}} How to write: LaTeX?</h3>
    <p>
      Write in LaTeX.
      I recommend <a href="https://www.overleaf.com" target="_blank">Overleaf</a> using this <a href="./data/Thesis_Template_ms.zip" target="_blank">template</a>.
      <br />It's comfortable but only works online - so make sure to download a backup from time to time.
    </p>
  </section>

  <mat-divider></mat-divider>

  <section>
    <h3>{{count()}} How to write: citations</h3>
    <p>
    </p>
  </section>

  <mat-divider></mat-divider>

  <section>
    <h3>{{count()}} How to write: style</h3>
    <p>
    </p>
  </section>

  <mat-divider></mat-divider>


  <!-- - - - STRUCTURE - - - -->
  <section>
    <h3>{{count()}} How to write: structure</h3>
    <p>
      Writing your thesis is similar to writing a research paper. Focus on a clear, logical story line.
      <br />Tell your story to a friend: what are you doing? What's the problem? How do you solve it?
      <br />Draft your structure rather early in the process, and fill it with content remarks ('What will I write here?').
      <br />Apart from classic elements like abstract, introduction, related work or conclusion, structural elements
      depend of course on topic, work and your individual style.
    </p>

    <h4>Abstract</h4>
    <p>
      &rarr; Write your abstract at the end. It should be a short, appealing summary of your work.
    </p>
    <mat-card>
      <mat-card-content>
        <h4>How to quality-check your abstract (method by Prof. Albrecht Schmidt):</h4>
        Write your abstract and try to allocate each sentence to the questions below (e.g. by marking text with different colors).
        <br /><span style="background-color:#E6B3B3; padding:0 .25rem 0 .25rem;">&rarr;</span> What’s the large scope of the problem space? Why should anybody care?
        <br /><span style="background-color:#F0CCA8; padding:0 .25rem 0 .25rem;">&rarr;</span> What is the specific problem addressed?
        <br /><span style="background-color:#F0F0A8; padding:0 .25rem 0 .25rem;">&rarr;</span> Why is the problem important? Why did we work on this?
        <br /><span style="background-color:#B8E0C5; padding:0 .25rem 0 .25rem;">&rarr;</span> What have we done?
        <br /><span style="background-color:#D1E5FA; padding:0 .25rem 0 .25rem;">&rarr;</span> What is new about the work?
        <br /><span style="background-color:#CCB3E6; padding:0 .25rem 0 .25rem;">&rarr;</span> What did we find out? What are concrete results?
        <br /><span style="background-color:#E0D6F5; padding:0 .25rem 0 .25rem;">&rarr;</span> What are the implications on a larger scale? How does the paper change the world?
        <br />Rewrite if questions (colors) are mixed up or missing. Remove irrelevant sentences.
      </mat-card-content>
    </mat-card>

    <h4>Introduction</h4>
    <p>
      &rarr; Describe the motivation (problem, examples) for your work.
      <br />&rarr; Sketch your solution, your research questions and the results.
      <br />&rarr; Give an overview of the structure of your thesis.
    </p>

    <h4>Related Work</h4>
    <p>
      &rarr; What did others do in relevant areas (state of the art)?
      <br />&rarr; What problems are there?
      <br />&rarr; What do other approaches lack? What will we do about it?
    </p>

    <h4>Concept</h4>
    <p>
    </p>

    <h4>Implementation</h4>
    <p>
    </p>

    <h4>Evaluation</h4>
    <p>
    </p>

    <h4>Discussion</h4>
    <p>
    </p>

    <h4>Conclusion</h4>
    <p>
    </p>

  </section>
</div>
