@import "@/scss/_styles.scss";

.tile {
    width: 100%;
    max-width: 240px;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: start;
    justify-content: start;

    border-radius: 4px;
    background-color: transparent;//#75939e;

    svg {
        width: 70px;
        fill: $font-color;
    }

    .text {
        color: $font-color;
        margin: 0 0 0 20px;
        display: flex;
        flex-direction: column;
        align-content: start;
        align-items: start;
        justify-items: center;
        justify-content: center;

        p {
            color: $font-color-p;
            text-align: left;
            font-size: $font-size;
        }

    }

    &:hover {
        background-color: #f9f9f9;
        color: #ffffff;
    }
}
