// font sizes
$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size: 16px;


// colors
$ui-color: #78a2bb;
$txt-highlight-color: #78a2bb;
$button-bg: #4e9ec4;
$button-bg-hover: rgb(48, 130, 168);

$font-color: #333333;
$font-color-hover: #00a9ff;
$font-color-p: #666666;
$font-color-link: #3c7e93;

$bg-color: #ffffff;
$prim-color: #CCB3E6;
$prim-color-fine: #4a3b59;
$prim-color-flat: #f1eaf7;

// layout
$max-content-width: 640px;

h1{
    font-size: 1.8em;
    font-weight: normal;
}
h2 {
    font-size: 1.4em;
    font-weight: lighter;
}
h3 {
    font-size: 1.2em;
    font-weight: lighter;
}

a {
    color: inherit;
    color: $font-color-hover;
    text-decoration: none;

    &:hover {
        color: $font-color-hover;
    }
}

.no-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

// spacer divs 0 .. 100
@for $i from 0 through 9 {
  .spacer-#{$i*10+10} {
    height: $i*10+10px;
  }
}


// components
.flat-btn {
    border: none;
    background-color: $button-bg;
    box-sizing: border-box;
    color: #fff;
    font-size: $font-size;
    border-radius: 4px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        background-color: $button-bg-hover;
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        background-color: #ccc;
    }
}
